<%- include ("../_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
          <div class="card">
              <div class="card-body" >
                <h2><center><b>ยืนยันข้อมูลการลบ</b></center></h2><br>
          <table>
           <tbody>
            <tr>
            <td align="center" ><b><font size="3"> ชนิดเอกสาร </b></td>
            <td><font size="5"> : </td>
            <td><font size="5"><%= data.typedocumentName %></font> </td>
            </tr>
           </tbody>
          </table><br>
            <a href="/typedocument" class="btn btn-primary"> กลับ </a>
            <a href="/typedocument/delete/<%=data.idtypedocument%>" class="btn btn-danger"> ยืนยัน </a>

    </div>
</div>
</div>
</div>
</div>
<style >
  body {
  background-image: url("A3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }
</style>
<%- include ("../_footer") %>
