<%- include ("../_header.ejs") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h2>เพิ่มประเภทเอกสาร</h2>



                        <form action="/typedocument/save/" method="POST">
                        <div class="form-group">
                        ชื่อประเภทเอกสาร <font color="red">*</font><input type="text" name="typedocumentName" placeholder="Name"class="form-control" required>
                        </div>
                        <a href="/typedocument" class="btn btn-primary"> กลับ </a>
                        <button type="submit" class="btn btn-success">ยืนยัน</button>
                       </form>
                  </div>
                </div>
            </div>
        </div>
        <style >
          body {
          background-image: url("A3.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
          }
        </style>
<%- include ("../_footer.ejs") %>
