<%- include ("../_header.ejs") %>

<div class="continer">
    <div class="row mt-1">
        <div class="col-md-1"></div>
           <div class="col-md-10">
             <div class="card">
               <div class="card-body">
            <h1><center>ประเภทเอกสาร</center></h1>
            <p align='right'><a href="/typedocument/add" class="btn btn-success">เพิ่มประเภทเอกสาร</a> <br>
            <table class="table table-bordered table-hover">
                <thead align="center">
                    <tr class="table-active">
                        <th>ลำดับ</th>
                        <th>ชื่อชนิดเอกสาร</th>
                        <th>ตัวเลือก</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <% if(data){ %>
                        <%  for(var i=0;i<data.length;i++){ %>
                            <tr>
                                <td> <%= (i+1) %> </td>
                                <td> <%= data[i].typedocumentName %> </td>
                                <td>
                                  <a href="/typedocument/edit/<%= data[i].idtypedocument%>" class="btn btn-outline-secondary"> แก้ไข </a>
                                  <a href="/typedocument/del/<%= data[i].idtypedocument%>" class="btn btn-outline-danger"> ลบ </a> </td>
                            </tr>
                        <%  } %>
                   <%  } %>
                       </tbody>
                   </table>
                </div>
            </div>
        </div>
      </div>
  </div>
     <style >
       body {
       background-image: url("A3.jpg");
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: 100% 100%;
       }
     </style>
<%- include ("../_footer.ejs") %>
