
body, html {
  height: 90%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  /*background-image: url("publicBack/AA1.jpg");
  /*min-height: 885px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  /* -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);--
  text-align: center; */
  -webkit-border-radius: 25px 25px 25px 25px;
  border-radius: 25px 25px 25px 25px;
  position: absolute;
  right: 3%;
  margin: 10px;
  max-width: 600px;
  height: 862px;
  padding: 30px;
  background-color: #10222E;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #EECA6A;
  outline: none;
}

/* Set a style for the submit button */
.boxinput{
  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}
.btn {
  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  right: 170px;
  background-color: #FBAB16;
  color: white;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
