<%- include ("../_header.ejs") %>

<section>
  <div class="container-fluid">
    <h1 class="text-center">บริษัทประกัน</h1>
    <div class="text-right mb-2">
      <a class="btn btn-outline-success" href="/businessinsu/add">เพิ่ม</a>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-center" width="30px">ลำดับ</td>
          <td>ชื่อบริษัท</td>
          <td class="text-center" width="150px">จัดการ</td>
        </tr>
      </thead>
      <tbody>
        <%for (var i=0; i < businessinsu.length; i++) {%>
          <tr>
            <td class="text-center"><%=i+1%></td>
            <td> <%=businessinsu[i].name%></td>
            <td class="text-center">
              <a class="btn btn-outline-info" href="/businessinsu/edit/<%=businessinsu[i].id%>">แก้ไข</a>
              <a class="btn btn-outline-danger" href="/businessinsu/confirmdelete/<%=businessinsu[i].id%>">ลบ</a>
            </td>
          </tr>
        <%}%>
      </tbody>
    </table>
  </div>
</section>

<%- include ("../_footer.ejs") %>
