<%- include ("../_header.ejs") %>

<section>
  <div class="container-fluid">
    <h1 class="text-center">บริษัทประกัน</h1>
    <div class="text-right mb-2">
      <a class="btn btn-outline-dark" href="/businessinsu">กลับ</a>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-center" width="30px">ลำดับ</td>
          <td>ชื่อบริษัท</td>
          <td class="text-center" width="150px">จัดการ</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">1</td>
          <td> <%=businessinsu[0].name%></td>
          <td class="text-center">
            <a class="btn btn-outline-danger" href="/businessinsu/delete/<%=businessinsu[0].id%>">ยืนยัน</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<%- include ("../_footer.ejs") %>
