<%- include ("../../views/_header") %>
<% if(session.success==false){ %>
    <% for(var i=0;i<session.errors.errors.length;i++){ %>
    <div class="alert alert-danger" role="alert">
    <%= session.errors.errors[i]["msg"] %>
    </div>
    <%   } session.success=null; } %>

    <% if(session.success==true){ %>
    <div class="alert alert-danger" role="alert">
    <%= session.topic %>
    </div>
    <%   } session.success=null;  %>
<div class="continer">
    <div class="row mt-5">
        <div class="col-md-2"></div>
           <div class="col-md-8">
            <h3><center>รายการผู้ดูแลระบบ</center></h3>
            <p align='right'><a href="/employeeaccount/add" class="btn btn-success">เพิ่มผู้ดูแลระบบ</a> <br>
            <table class="table table-bordered table-hover">
                <thead align="center">
                    <tr class="table-active">
                        <th>ลำดับ</th>
                        <th>ชื่อผู้ใช้</th>
                        <th>ไอดีผู้ใช้</th>
                        <th>รหัสผ่าน</th>
                        <th>ตัวเลือก</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <% if(data){ %>
                        <%  for(var i=0;i<data.length;i++){ %>
                            <tr>
                                <td> <%= (i+1) %> </td>
                                <td> <%= data[i].employeeaccountName %> </td>
                                <td> <%= data[i].Username %> </td>
                                <td> <%= data[i].Password %> </td>
                                <td>
                                  <a href="/employeeaccount/edit/<%= data[i].idemployeeaccount%>" class="btn btn-outline-secondary"> แก้ไข </a>
                                  <a href="/employeeaccount/del/<%= data[i].idemployeeaccount%>" class="btn btn-outline-danger"> ลบ </a> </td>
                            </tr>
                        <%  } %>
                   <%  } %>
                       </tbody>
                   </table>
                </div>
            </div>
        </div>
     <style >
       body {
       background-image: url("A3.jpg");
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: 100% 100%;
       }
     </style>
<%- include ("../../views/_footer") %>
