<%- include ("../../views/_header") %>
<% if(session.success==false){ %>
    <% for(var i=0;i<session.errors.errors.length;i++){ %>
    <div class="alert alert-danger" role="alert">
    <%= session.errors.errors[i]["msg"] %>
    </div>
    <%   } session.success=null; } %>

    <% if(session.success==true){ %>
    <div class="alert alert-danger" role="alert">
    <%= session.topic %>
    </div>
    <%   } session.success=null;  %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/employeeaccount/update/<%= data.idemployeeaccount %>" method="POST">
                        <h3 align="center" > แก้ไขบันชีผู้ดูแลระบบ </h3>
                        <div class="form-group mt-3"><h5> ชื่อผู้ใช้ </h5>
                        <input type="text"name="employeeaccountName"value="<%= data.employeeaccountName %>"
                        class="form-control" required>
                        </div>
                        <div class="form-group mt-3"><h5> บันชีผู้ใช้ </h5>
                        <input type="text"name="username"value="<%= data.Username %>"
                        class="form-control" required>
                        </div>
                        <div class="form-group mt-3"><h5> รหัสผ่าน </h5>
                        <input type="text"name="password"value="<%= data.Password %>"
                        class="form-control" required>
                        </div>
                        <a href="/employeeaccount" class="btn btn-primary"> กลับ </a>
                        <button type="submit"class="btn btn-success">ยืนยัน</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
<%- include ("../../views/_footer") %>
