<%- include ("../_header.ejs") %>

<section>
  <div class="container-fluid">
    <h1 class="text-center">ประเภทประกันภัย</h1>
    <div class="text-right mb-2">
      <a class="btn btn-outline-dark" href="/insurance_type">กลับ</a>
    </div>
    <form class="form-group" action="/insurance_type/update/<%=insurance_type[0].id%>" method="post">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td class="text-center" width="30px">ลำดับ</td>
            <td>ประเภท</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">1</td>
            <td>
              <input class="form-control" type="text" name="name" value="<%=insurance_type[0].name%>">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <button class="btn btn-outline-success" type="submit">บันทึก</button>
      </div>
    </form>
  </div>
</section>

<%- include ("../_footer.ejs") %>
