<%- include ("../_header.ejs") %>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <body>
            <h1 align="center" style="color:#000000;"> ประวัติเอกสาร </h1><br>
            <table class="table table-bordered table-hover">
              <thead>
                <tr style="color:#000000;">
                  <th>ลำดับ</th>
                  <th>ชื่อเอกสาร</th>
                  <th>รายละเอียด</th>
                  <th>ประเภทเอกสาร</th>
                  <th>ผู้ดำเนินการ</th>
                  <th>วันที่ดำเนินการ</th>
                  <th>สถานะ</th>
                  <th>ตัวเลือก</th>
                </tr>
              </thead>
              <tbody>
                <% if(data){ %>
                  <% for(var i =0; i<data.length; i++){ %>
                    <tr style="color:#000000;">
                      <td> <%= (i+1) %> </td>
                      <td> <%= data[i].hname %></td>
                      <td> <%= data[i].hal %></td>
                      <td> <%= data[i].hdoc %></td>
                      <td> <%= data[i].hwname %></td>
                      <td> <%= data[i].hwtsm  %> </td>
                      <td> ดำเนินการแล้ว </td>
                      <td align="center"> <a href="/dochistory/del/<%= data[i].idhistory%>" class="btn btn-danger"  > <i class="fa fa-file" aria-hidden="true"  ></i> </a> </td>
                    </tr>
                    <% } %>
                    <% } %>
                  </tbody>
                </table>
              </body>
            </div>
          </div>
        </div>
      </div>

    <%- include ("../_footer.ejs") %>
