<%- include ("../_header.ejs") %>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
  <div class="card">
    <div class="card-body">
       <body>
          <form action="/dochitory/dochistorysave/" method="post" >
             <input type="hidden" name="idbill" value="<%= data2.billidd%>">
             <input type="hidden" name="id" value="<%= data2.id%>">
             <input type="hidden" name="docnumber" value="<%= data2.docnum%>">
             <input type="hidden" name="docname" value="<%=data2.docname%>">
             <input type="hidden" name="docrenewaldate" value="<%=data2.dcmrene%>">
             <input type="hidden" name="docexpirationdate" value="<%=data2.dcmexpir%>">
             <input type="hidden" name="doccontactagency" value="<%=data2.dcmcy%>">
             <input type="hidden" name="doccontactperson" value="<%=data2.dcmson%>">
             <input type="hidden" name="doccontactnumber" value="<%=data2.dcmconnum%>">
             <input type="hidden" name="docscan" value="<%=data2.dcmscan%>">
             <input type="hidden" name="carbrand" value="<%=data2.dcmcarbrand%>">
             <input type="hidden" name="carnumber" value="<%=data2.dcmcarnumber%>">
             <input type="hidden" name="typedoc" value="<%=data2.tdmname%>">
             <input type="hidden" name="bill" value="<%=data2.bllname%>">
             <input type="hidden" name="brach" value="<%=data2.brhname%>">
             <input type="hidden" name='detial' value="<%=data2.dcmdetial%>">
             <input type="hidden" name='typecarhit' value="<%=data2.tycname%>">
             <input type="hidden" name='historyunit' value="<%=data2.unitmy%>">
             <input type="hidden" name='billid' value="<%=data2.billidd%>">
            <% if (session.user) { %>
              <label >บันทึกเอกสารโดย :</label>
               <input type="text" name="historywho_id"  class="form-control" value="<%= session.user %> " readonly>
            <% } else if (session.admin) { %>
              <label >บันทึกเอกสารโดย :</label>
               <input type="text" name="historywho_id" class="form-control" value="<%= session.admin %> " readonly>
            <% } %>

               <br>
               <a href="/home"><button type="button" name="button" class="btn btn-primary">กลับ</button></a>
         <button type="submit" class="btn btn-success" > ยืนยัน </button>
         <!-- <a href="/whosave/add/add/<%= data2.id %>" >เพิ่มผู้บันทึกเอกสาร</a> -->
       </form>
      <body>
    </div>
  </div>
</div>
</div>
<%- include ("../_footer.ejs") %>
