<%- include ("../_header.ejs") %>
    <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h2><center><b>ข้อมูลประวัตเอกสาร</b></center></h2><br>
                  <table>
                    <tbody>
                      <tr>
                        <td> <font size="4"> เลขที่เอกสาร </td>
                        <td> <font size="3" > <%=data.docnumber%> </td>
                      </tr>
                      <tr>
                        <td> <font size="4"> ชื่อเอกสาร </td>
                        <td> <font size="3" > <%=data.docname%> </td>
                      </tr>
                      <tr>
                        <td> <font size="4"> วันออกเอกสาร </td>
                        <td> <font size="3" > <%=data.docrenewaldate%> </td>
                      </tr>
                      <tr>
                        <td> <font size="4"> วันสิ้นอายุ </td>
                        <td> <font size="3" > <%=data.docexpirationdate%> </td>
                      </tr>
                      <tr>
                        <td> <font size="4"> สถานที่ติดต่อ </td>
                        <td> <font size="3" > <%=data.doccontactagency%> </td>
                      </tr>
                    <%  if (data.doccontactperson == 0) { %>
                        <tr>
                          <td> <font size="4"> บุคคลติดต่อ </td>
                          <td> <font size="3" > ไม่ได้ระบุบุคคลติดต่อ </td>
                        </tr>
                    <%  } else { %>
                        <tr>
                          <td> <font size="4"> บุคคลติดต่อ </td>
                          <td> <font size="3" > <%=data.doccontactperson%> </td>
                        </tr>
                    <%  } %>
                  <%  if (data.doccontactnumber == 0) { %>
                      <tr>
                        <td> <font size="4"> เบอร์ที่ติดต่อ </td>
                        <td> <font size="3" > ไม่ได้ระบุเบอร์ที่ติดต่อ </td>
                      </tr>
                  <%  } else { %>
                      <tr>
                        <td> <font size="4"> เบอร์ที่ติดต่อ </td>
                        <td> <font size="3" > <%=data.doccontactnumber%> </td>
                      </tr>
                  <%  } %>
                      <%   if (data.billid == 2) { %>
                           <tr>
                             <td> <font size="5"> ประจำรอบ </td>
                             <td> <font size="4" > <%=data.bill%> <%=data.historyunit%> เดือน</td>
                           </tr>
                      <%   }else if (data.billid == 3){ %>
                        <tr>
                          <td> <font size="5"> ประจำรอบ </td>
                          <td> <font size="4" > <%=data.bill%> <%=data.historyunit%> ปี</td>
                        </tr>
                      <%   }else if(data.billid == 0){ %>
                        <tr>
                          <td> <font size="5"> ประจำรอบ </td>
                          <td> <font size="4" > <%=data.bill%> ไม่ได้กำหนดประจำรอบ</td>
                        </tr>
                    <%  }  %>

                  <%  if (data.brach == 0) { %>
                      <tr>
                        <td> <font size="4"> สาขา </td>
                        <td> <font size="3" > ไม่ได้ระบุสาขา </td>
                      </tr>
                  <%  } else { %>
                      <tr>
                        <td> <font size="4"> สาขา </td>
                        <td> <font size="3" > <%=data.brach%> </td>
                      </tr>
                  <%  } %>
                      <tr>
                        <td> <font size="4"> รายละเอียด </td>
                        <td> <font size="3" > <%=data.detial%> </td>
                      </tr>
                      <tr>
                        <td> <font size="4"> ประเภทเอกสาร </td>
                        <td> <font size="3" > <%=data.typedoc%> </td>
                      </tr>
                    <%  if (data.carbrand == 0) { %>

                    <%  } else { %>
                      <tr>
                        <td> <font size="4"> ยี่ห้อรถ </td>
                        <td> <font size="3" > <%=data.carbrand%> </td>
                      </tr>
                      <tr>
                        <td> <font size="4"> ป้ายทะเบียน </td>
                        <td> <font size="3" > <%=data.carnumber%> </td>
                      </tr>
                      <tr>
                        <td> <font size="4"> ประเภทรถ </td>
                        <td> <font size="3" > <%=data.typecarhit%> </td>
                      </tr>
                    <%  }  %>

                      </tbody>
                    </table><br>
                    <div aling="center">
                  <a href="/dochistory/dochistoryList" class="btn btn-primary"> กลับ </a>
                  <% if (session.admin) { %>
                    <a href="/dochistory/delete/<%= data.idhistory%>" class="btn btn-danger"> ลบข้อมูลประวัติ </a>
                  <% } %>
                </div>
            </div>
         </div>
      </div>

<div class="col-md-2">
  <div>
        <img src="/<%=data.docscan%>" width="400" height="500">
  </div>
</div>
</div>

<%- include ("../_footer.ejs") %>
