<%-include ('../_header')%>

<section>
  <div class="container-fluid">
    <h1 class="text-center">ประวัติ พรบ.</h1>
    <div class="text-right mb-2">
      <a class="btn btn-outline-dark" href="/act/list/<%=url.caid%>">กลับ</a>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-center text-light bg-dark">
          <th width="50px">ลำดับ</th>
          <th width="15%">ชื่อผู้เอาประกันภัย </th>
          <th width="15%">ระยะเวลาเริ่ม</th>
          <th width="15%">ระยะเวลาสิ้นสุด</th>
          <th width="15%">เบี้ยประกันภัย</th>
          <th width="20%">บริษัท พรบ.</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <%if (act) {%>
            <tr>
              <td class="text-center">1</td>
              <td><%=act[0].buyers_act%></td>
              <td class="text-center"><%=act[0].start_date%></td>
              <td class="text-center"><%=act[0].exp_date%></td>
              <td class="text-right"><%=act[0].premium.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%></td>
              <td><%=act[0].act_company%></td>
              <td class="text-center">
                <a class="btn btn-outline-danger" href="/act/page/delete/<%=act[0].car_id%>/<%=act[0].id%>">ลบ</a>
              </td>
            </tr>
        <%}%>
      </tbody>
    </table>
  </div>
</section>

<%-include ('../_footer')%>
