<%-include ('../_header')%>

<section>
  <div class="container-fluid">
    <h1 class="text-center">ประวัติ การต่อพรบ.</h1>
    <div class="text-right mb-2">
      <a class="btn btn-outline-dark" href="/cardetail/<%=url.caid%>">กลับ</a>
    </div>
    <table class="table table-bordered table-hover" id="actList">
      <thead>
        <tr class="text-center text-light bg-dark">
          <th width="50px">ลำดับ</th>
          <th width="15%">ชื่อผู้เอาประกันภัย </th>
          <th width="15%">ระยะเวลาเริ่ม</th>
          <th width="15%">ระยะเวลาสิ้นสุด</th>
          <th width="15%">เบี้ยประกันภัย</th>
          <th width="20%">บริษัท พรบ.</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <%if (act) {%>
          <%for (var i = 0; i < act.length; i++) {%>
            <tr>
              <td class="text-center"><%=i+1%></td>
              <td><%=act[i].buyers_act%></td>
              <td class="text-center"><%=act[i].start_date%></td>
              <td class="text-center"><%=act[i].exp_date%></td>
              <td class="text-right"><%=act[i].premium.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%></td>
              <td><%=act[i].act_company%></td>
              <td class="text-center">
                <a class="btn btn-outline-info" href="/act/page/edit/<%=act[i].car_id%>/<%=act[i].id%>">แก้ไข</a>
                <a class="btn btn-outline-danger" href="/act/page/confirmdelete/<%=act[i].car_id%>/<%=act[i].id%>">ลบ</a>
              </td>
            </tr>
          <%}%>
        <%}%>
      </tbody>
    </table>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    $('#actList').DataTable();
} );
</script>

<%-include ('../_footer')%>
