
<div class="modal fade" id="actEdit" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <form class="form-group" action="#/" method="post" name="actedit">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">ประกันภัย</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="text-center text-light bg-dark">
                <th width="50px">ลำดับ</th>
                <th width="18%">ชื่อผู้เอาประกันภัย </th>
                <th width="18%">ระยะเวลาเริ่ม</th>
                <th width="18%">ระยะเวลาสิ้นสุด</th>
                <th width="18%">เบี้ยประกันภัย</th>
                <th width="18%">บริษัท พรบ.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center"></td>
                <td><input class="form-control" type="text" name="buyers_act" value=""></td>
                <td><input class="form-control" type="date" name="start_date" value=""></td>
                <td><input class="form-control" type="date" name="exp_date" value=""></td>
                <td><input class="form-control text-right" type="text" name="premium" value=""></td>
                <td>
                  <select class="form-control" name="act_company_id" required>
                    <option value=""></option>
                    <%if (act_company) {%>
                      <%for (var i = 0; i < act_company.length; i++) {%>
                        <option value="<%=act_company[i].id%>"><%=act_company[i].name%></option>
                      <%}%>
                    <%}%>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
          <button type="submit" class="btn btn-outline-success">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">

function actEditModal(trid){
  document.actedit.action = '/act/update/'+trid.split('_')[1]+'/'+trid.split('_')[2];

  console.log(trid);
  $('#actEdit tbody tr td:eq(0)').text($('#'+trid+' td:eq(0)').text());
  $('#actEdit tbody tr td:eq(1) input').val($('#'+trid+' td:eq(1)').text());
  $('#actEdit tbody tr td:eq(2) input').val($('#'+trid+' td:eq(2)').text());
  $('#actEdit tbody tr td:eq(3) input').val($('#'+trid+' td:eq(3)').text());
  $('#actEdit tbody tr td:eq(4) input').val(+$('#'+trid+' td:eq(4)').text().replace(/,/g, ''));
  $('#actEdit tbody tr td:eq(5) option:contains('+$('#'+trid+' td:eq(5)').text()+')').prop('selected',true);
}

</script>
