<%-include ('../_header')%>

<section>
  <div class="container-fluid">
    <h1 class="text-center">ประวัติ พรบ.</h1>
    <div class="text-right mb-2">
      <a class="btn btn-outline-dark" href="/act/list/<%=url.caid%>">กลับ</a>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-center text-light bg-dark">
          <th width="50px">ลำดับ</th>
          <th width="15%">ชื่อผู้เอาประกันภัย </th>
          <th width="15%">ระยะเวลาเริ่ม</th>
          <th width="15%">ระยะเวลาสิ้นสุด</th>
          <th width="15%">เบี้ยประกันภัย</th>
          <th width="20%">บริษัท พรบ.</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <%if (act) {%>
          <form class="form-group" action="/act/page/update/<%=url.caid%>/<%=act[0].id%>" method="post">
            <tr>
              <td class="text-center">1</td>
              <td><input class="form-control" type="text" name="buyers_act" value="<%=act[0].buyers_act%>"></td>
              <td class="text-center"><input class="form-control" type="date" name="start_date" value="<%=act[0].start_date.toISOString().split('T')[0]%>"></td>
              <td class="text-center"><input class="form-control" type="date" name="exp_date" value="<%=act[0].exp_date.toISOString().split('T')[0]%>"></td>
              <td class="text-right"><input class="form-control text-right" type="number" name="premium" value="<%=act[0].premium%>"></td>
              <td>
                <select class="form-control" name="act_company_id" required>
                  <option value=""></option>
                  <%if (act_company) {%>
                    <%for (var i = 0; i < act_company.length; i++) {%>
                      <option value="<%=act_company[i].id%>"<%if(act[0].act_company_id == act_company[i].id){%>selected<%}%>><%=act_company[i].name%></option>
                    <%}%>
                  <%}%>
                </select>
              </td>
              <td class="text-center">
                <button class="btn btn-outline-success" type="submit">บันทึก</button>
              </td>
            </tr>
          </form>
        <%}%>
      </tbody>
    </table>
  </div>
</section>

<%-include ('../_footer')%>
