<%- include ("../_header.ejs") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/employee/update/<%= data.idemployee %>" method="POST">
                        <h3 align="center" > แก้ไขข้อมูลพนักงาน </h3>
                        <div class="form-group mt-3"><h5> ชื่อ สกุล </h5>
                        <input type="text"name="employeeName"value="<%= data.employeeName %>"class="form-control">
                        </div>
                        <div class="form-group mt-3"><h5> ชื่อเล่น </h5>
                        <input type="text"name="employeeNickname"value="<%= data.employeeNickname %>"class="form-control">
                        </div>
                        <div class="form-group mt-3"><h5> เบอร์โทร </h5>
                        <input type="text"name="employeeMobile"value="<%= data.employeeMobile %>"class="form-control">
                        </div>
                        <div class="form-group mt-3"><h5> อีเมล </h5>
                        <input type="text"name="employeeemail"value="<%= data.employeeemail %>"class="form-control">
                        </div>
                        <div class="form-group mt-3"><h5> ที่อยู่ </h5>
                        <input type="text"name="employeeAddress"value="<%= data.employeeAddress %>"class="form-control">
                        </div>
                        <div class="form-group">
                            <a style="font-size:20px">ตำแหน่ง<font color=#FF0000>*</font></a>
                            <select class='form-control' name='employeeposition_id'>
                                <option value=""> กรุณาเลือกตำแหน่ง </option>
                                <% if(data2) { %>
                                <% for(var i=0; i<data2.length; i++){ %>
                                    <option value="<%= data2[i].idposition %>" <% if(data2[i].idposition==data.employeeposition_id){ %>  selected
                                        <% }%>>
                                        <%= data2[i].positionName %>
                                    </option>
                                <%}%>
                                <%}%>
                            </select>
                        </div>
                        <div class="form-group">
                            <a style="font-size:20px">สาขา<font color=#FF0000>*</font></a>
                            <select class='form-control' name='employeebranch_id'>
                                <option value=""> กรุณาเลือกสาขา </option>
                                <% if(data3) { %>
                                <% for(var i=0; i<data3.length; i++){ %>
                                    <option value="<%= data3[i].idbranch %>" <% if(data3[i].idbranch==data.employeebranch_id){ %>  selected
                                        <% }%>>
                                        <%= data3[i].branchName %>
                                    </option>
                                <%}%>
                                <%}%>
                            </select>
                        </div>
                        <a href="/employee" class="btn btn-primary"> กลับ </a>
                        <button type="submit"class="btn btn-success">ยืนยัน</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
<%- include ("../_footer.ejs") %>
