<%- include ("../_header.ejs") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h2>เพิ่ม employee</h2>



                        <form action="/employee/save/" method="POST">
                        <div class="form-group">
                        ชื่อ สกุล <font color="red">*</font><input type="text" name="employeeName" placeholder="Name"class="form-control">
                        </div>
                        <div class="form-group">
                        ชื่อเล่น <font color="red">*</font><input type="text" name="employeeNickname" placeholder="Nickname"class="form-control">
                        </div>
                        <div class="form-group">
                        เบอร์โทร <font color="red">*</font><input type="text" name="employeeMobile" placeholder="Mobile"class="form-control">
                        </div>
                        <div class="form-group">
                        อีเมล <font color="red">*</font><input type="text" name="employeeemail" placeholder="Email"class="form-control">
                        </div>
                        <div class="form-group">
                        ที่อยู่ <font color="red">*</font><input type="text" name="employeeAddress" placeholder="Address"class="form-control">
                        </div>
                        <div class="form-group">
                            <a style="font-size:20px">ชื่อตำแหน่ง<font color=#FF0000>*</font></a>
                            <select class='form-control' name='employeeposition_id'>
                                <option value=""> กรุณาเลือกตำแหน่ง </option>
                                <% if(data) { %>
                                <% for(var i=0; i<data.length; i++){ %>
                                <option value="<%= data[i].idposition %>">
                                <%= data[i].positionName %>
                                </option>
                                <%}%>
                                <%}%>
                            </select>
                        </div>
                        <div class="form-group">
                            <a style="font-size:20px">ชื่อสาขา<font color=#FF0000>*</font></a>
                            <select class='form-control' name='employeebranch_id'>
                                <option value=""> กรุณาเลือกสาขา </option>
                                <% if(data1) { %>
                                <% for(var i=0; i<data1.length; i++){ %>
                                <option value="<%= data1[i].idbranch %>">
                                    <%= data1[i].branchName %>
                                </option>
                                <%}%>
                                <%}%>
                            </select>
                        </div>
                        <a href="/employee" class="btn btn-primary"> กลับ </a>
                        <button type="submit" class="btn btn-success">ยืนยัน</button>
                       </form>
                  </div>
                </div>
            </div>
        </div>
        <style >
          body {
          background-image: url("A3.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
          }
        </style>
<%- include ("../_footer.ejs") %>
