<%- include ("../_header.ejs") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
          <div class="card">
              <div class="card-body">
                <h2><center><b>ยืนยันข้อมูลการลบ</b></center></h2><br>
          <table>
           <tbody>
            <tr>
            <td><b><font size="5"> ชื่อ สกุล </b></td>
            <td><font size="5"> : </td>
            <td><font size="5"><%= data.employeeName %></font> </td>
            </tr>
            <tr>
            <td><b><font size="5"> ชื่อเล่น </b></td>
            <td><font size="5"> : </td>
            <td><font size="5"><%= data.employeeNickname %></font> </td>
            </tr>
            <tr>
            <td><b><font size="5"> เบอร์โทร </b></td>
            <td><font size="5"> : </td>
            <td><font size="5"><%= data.employeeMobile %></font> </td>
            </tr>
            <tr>
            <td><b><font size="5"> อีเมล </b></td>
            <td><font size="5"> : </td>
            <td><font size="5"><%= data.employeeemail %></font> </td>
            </tr>
            <tr>
            <td><b><font size="5"> ตำแหน่ง </b></td>
            <td><font size="5"> : </td>
            <td><font size="5"><%= data.positionName %></font> </td>
            </tr>
            <tr>
            <td><b><font size="5"> สาขา </b></td>
            <td><font size="5"> : </td>
            <td><font size="5"><%= data.branchName %></font> </td>
            </tr>
           </tbody>
          </table>
            <a href="/employee" class="btn btn-primary"> กลับ </a>
            <a href="/employee/delete/<%=data.idemployee%>" class="btn btn-danger"> ยืนยัน </a>

    </div>
</div>
</div>
</div>
</div>
<style >
  body {
  background-image: url("A3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }
</style>
<%- include ("../_footer.ejs") %>
