<%- include ("../_header.ejs") %>
<div class="continer">
    <div class="row mt-5">
        <div class="col-md-1"></div>
           <div align="center" class="col-md-10">
            <h1><center>พนักงาน</center></h1>
            <p align='right'><a href="/employee/add" class="btn btn-success">เพิ่มพนักงาน</a> <br>
            <table class="table table-bordered table-hover">
                <thead align="center">
                    <tr class="table-active">
                        <th>ลำดับ</th>
                        <th>ชื่อ สกุล</th>
                        <th>ชื่อเล่น</th>
                        <th>เบอร์โทร</th>
                        <th>อีเมล</th>
                        <th>ที่อยู่</th>
                        <th>ตำแหน่ง</th>
                        <th>ที่อยู่สาขา</th>
                        <th>ตัวเลือก</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <% if(data){ %>
                        <%  for(var i=0;i<data.length;i++){ %>
                            <tr>
                                <td> <%= (i+1) %> </td>
                                <td> <%= data[i].employeeName %> </td>
                                <td> <%= data[i].employeeNickname %> </td>
                                <td> <%= data[i].employeeMobile %> </td>
                                <td> <%= data[i].employeeemail %> </td>
                                <td> <%= data[i].employeeAddress %> </td>
                                <td> <%= data[i].positionName %> </td>
                                <td> <%= data[i].branchName %> </td>
                                <td>
                                  <a href="/employee/edit/<%= data[i].idemployee%>" class="btn btn-outline-secondary"> แก้ไข </a>
                                  <a href="/employee/del/<%= data[i].idemployee%>" class="btn btn-outline-danger"> ลบ </a> </td>
                            </tr>
                        <%  } %>
                   <%  } %>
                       </tbody>
                   </table>
                </div>
            </div>
        </div>
     <style >
       body {
       background-image: url("A3.jpg");
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: 100% 100%;
       }
     </style>
<%- include ("../_footer.ejs") %>
