<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/jquery/jquery.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- <script src="/vendor/bootstrap/js/jquery-3.5.1.js"></script> -->
<script src="/vendor/bootstrap/js/jquery.dataTables.min.js"></script>
<script src="/vendor/bootstrap/js/dataTables.bootstrap5.min.js"></script>

</body>

</html>
