<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PTT Alert</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/css/hedder.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  
  <script src="/vendor/jquery/jquery-3.6.0.min.js"></script>
  <script src="/vendor/jquery/jquery-3.6.0.js"></script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
        <div class="sidebar-brand-icon ">
          <img src="/555.png" style="width:120px"></img>
        </div>

      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->

      <li class="nav-item active">
        <%if(data1){%>
          <%for(var i = 0; i < data1.length ; i++){%>
              <a class="nav-link" href="/document/type/<%=data1[i].typedocumentName%>/<%=data1[i].idtypedocument%>">
              <span><%=data1[i].typedocumentName%></span></a>
          <%}%>
        <%}%>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
<!-- /////////////////////////////////////////////////////////////////////////////////// -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>



          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- <li><a href="/123"><h1><i class="fas fa-search-location"></i>12345</h1></a>
            </li> -->

            <li class="nav-item dropdown" id="dd-3">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#000000;">
          <i class="fas fa-search-location"></i><span>&nbsp; </span> จัดการเอกสาร</a>
          <div class="dropdown-menu">
          <a class="dropdown-item" href="/document/add">เพิ่มเอกสาร</a>
          <a class="dropdown-item" href="/document/addcar">เพิ่มเอกสารพหนะ</a>
          <a class="dropdown-item" href="/typedocument">ประเภทเอกสาร</a>
          <a class="dropdown-item" href="/dochistory/dochistoryList">ดูประวัติเอกสาร</a>
          </div>
        </li>
        <li class="nav-item dropdown" id="dd-3">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#000000;">
      <i class="fas fa-file-invoice"> </i><span>&nbsp;</span> จัดการ พรบ. ภาษี รถ</a>
      <div class="dropdown-menu">
      <a class="dropdown-item" href="/insurance_type">ประเภทประกันภัย</a>
      <a class="dropdown-item" href="/businessinsu">บริษัทประกันภัย</a>
      <a class="dropdown-item" href="/act_company">บริษัท พรบ.</a>
      <a class="dropdown-item" href="/car">จัดการข้อมูลรถ</a>
      </div>
    </li>
        <!-- loginadmin -->
        <% if ( session.admin ){ %>
           <li class="nav-item dropdown" id="dd-3">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#000000;">
         <i class="fa fa-user-plus" aria-hidden="true"></i><span>&nbsp;</span> จัดการผู้ใช้งาน</a>
         <div class="dropdown-menu">
         <a class="dropdown-item" href="/user">ผู้ใช้งาน</a>
         <a class="dropdown-item" href="/employeeaccount">ผู้ดูแลระบบ</a>
         </div>
       </li>


            <li class="nav-item dropdown" id="dd-3">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#000000;">
          <i class="fa fa-home" aria-hidden="true">&nbsp;</i><span> </span> จัดการสาขา</a>
          <div class="dropdown-menu">
          <a class="dropdown-item" href="/branch">สาขา</a>
          </div>
        </li>
        <% } %>


            <!-- Nav Item - User Information -->
          <%  if (session.user){ %>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                <%= session.user %> (User)
                </span>
                <img class="img-profile rounded-circle" src="/logda1.png">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                <a class="dropdown-item" href="/logout"  >
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
        <%  } else if (session.admin){ %>
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">
              <%= session.admin %> (Admin)
              </span>
              <img class="img-profile rounded-circle" src="/logda.png">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

              <a class="dropdown-item" href="/logout"  >
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>
        <%  } else { %>
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">
              ไม่ได้ login
              </span>
              <img class="img-profile rounded-circle" src="/545669.jpg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

              <a class="dropdown-item" href="/logout"  >
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>
      <%  } %>

          </ul>

        </nav>







        <% if(session.success==false){ %>
            <% for(var i=0;i<session.errors.errors.length;i++){ %>
            <div class="alert alert-danger" role="alert">
            <%= session.errors.errors[i]["msg"] %>
            </div>
            <% } session.success=null; } %>

            <% if(session.success==true){ %>
            <div class="alert alert-success" role="alert">
            <%= session.topic %>
            </div>
            <%   } session.success=null;  %>
        <!-- End of Topbar -->
