<!DOCTYPE html>
<html>
<head>
<title>PTT Alert</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/logincss.css">
<style media="screen">
 body{
  background: url("publicBack/AA2.jpg");
  background-repeat: no-repeat;
  background-size: 1920px 901px;

}
</style>
</head>
<body>
<div class="bg-img">
  <form action="/login" method="post" class="container">
    <h1 style="color:#FFFFFF" align="center">เข้าสู่ระบบสำหรับสมาชิก</h1>

    <label for="username" style="color:#FFFFFF"><b>ชื่อผู้ใช้   :</b></label>
    <input type="text" class="boxinput" placeholder="กรอกไอดีผู้ใช้งาน" name="username" required>

    <label for="password" style="color:#FFFFFF"><b>รหัสผ่าน  :</b></label>
    <input type="password" class="boxinput" placeholder="กรอกรหัสผ่าน" name="password" required><br><br>

    <button type="submit" class="btn"  >เข้าสู่ระบบ</button>
  </form>
</div>
</body>
</html>
