<%- include ("../_header.ejs") %>
 <div class="continer">
     <div class="row mt-5">
         <div class="col-md-2"></div>
            <div class="col-md-8">
             <h3><center>บันชีผู้ใช้งาน</center></h3>
             <p align='right'><a href="/user/add" class="btn btn-success">เพิ่มผู้ใช้</a> <br>
             <table class="table table-bordered table-hover">
                 <thead align="center">
                     <tr class="table-active">
                         <th>ลำดับ</th>
                         <th>ชื่อผู้ใช้</th>
                         <th>บันชีผู้ใช้</th>
                         <th>รหัสผ่าน</th>
                         <th>ตัวเลือก</th>
                     </tr>
                 </thead>
                 <tbody align="center">
                     <% if(data){ %>
                         <%  for(var i=0;i<data.length;i++){ %>
                             <tr>
                                 <td> <%= (i+1) %> </td>
                                 <td> <%= data[i].name %> </td>
                                 <td> <%= data[i].username %> </td>
                                 <td> <%= data[i].password %> </td>
                                 <td>
                                   <a href="/user/edit/<%= data[i].iduser %>" class="btn btn-outline-secondary"> แก้ไข </a>
                                   <a href="/user/del/<%= data[i].iduser %>" class="btn btn-outline-danger"> ลบ </a> </td>
                             </tr>
                         <%  } %>
                    <%  } %>
                        </tbody>
                    </table>
                 </div>
             </div>
         </div>
      <style >
        body {
        background-image: url("A3.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        }
      </style>
<%- include ("../_footer.ejs") %>
