<%- include ("../_header.ejs") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/user/update/<%= data.iduser %>" method="POST">
                        <h3 align="center" > แก้ไขข้อมูลผู้ใช้งาน </h3>
                        <div class="form-group mt-3"><h5> ชื่อผู้ใช้ </h5>
                        <input type="text"name="name"value="<%= data.name %>"
                        class="form-control">
                        </div>
                        <div class="form-group mt-3"><h5> ไอดีผู้ใช้ </h5>
                        <input type="text"name="username"value="<%= data.username %>"
                        class="form-control">
                        </div>
                        <div class="form-group mt-3"><h5> รหัสผ่าน </h5>
                        <input type="text"name="password"value="<%= data.password %>"
                        class="form-control">
                        </div>
                        <a href="/user" class="btn btn-primary"> กลับ </a>
                        <button type="submit"class="btn btn-success">ยืนยัน</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
<%- include ("../_footer.ejs") %>
