<%- include ("../_header.ejs") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h2>เพิ่มผู้ใช้งาน</h2>

                        <form action="/user/save/" method="POST">
                        <div class="form-group">
                        ชื่อผู้ใช้ <font color="red">*</font><input type="text" name="name" placeholder="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                        บันชีผู้ใช้ <font color="red">*</font><input type="text" name="username" placeholder="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                        รหัสผ่าน <font color="red">*</font><input type="text" name="password" placeholder="password" class="form-control" required>
                        </div>
                        <div class="row mt-3"></div>
                        <a href="/user" class="btn btn-primary"> กลับ </a>
                        <button type="submit" class="btn btn-success">ยืนยัน</button>
                       </form>
                  </div>
                </div>
            </div>
        </div>
        <style >
          body {
          background-image: url("A3.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
          }
        </style>
<%- include ("../_footer.ejs") %>
