<!DOCTYPE html>
<%- include ("../_header.ejs") %>
<%- JSON.stringify() %>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div class="continer">
      <div class="row">
      <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <div>
              <h1 align="center">ผู้ดำเนินเอกสารได้</h1>
              <p align='right'><a href="/whosave/add" class="btn btn-success">เพิ่ม</a>
              </div>
      <table class="table table-bordered table-hover" >
        <thead>
          <tr align="center">
            <th>ลำดับ</th>
            <th>ชื่อ</th>
            <th>ตัวเลือก</th>
          </tr>
        </thead>
        <tbody>
          <%  if (data){ %>
            <%  for(var i = 0; i<data.length; i++){ %>
              <tr>
                <td> <%= (i+1) %> </td>
                <td> <%= data[i].name %> </td>
                <td align="center"> <a href="/whosave/edit/<%= data[i].id %>" class="btn btn-warning"> แก้ไข </a>
                <a href="/whosave/del/<%= data[i].id%>" class="btn btn-danger"> ลบ </a> </td>
              </tr>
            <%  } %>
        <%  } %>
        </tbody>
      </table>
    </div>
  </div>
    </div>
    </div>
  </div>
  </body>
</html>
<%- include ("../_footer.ejs") %>
