<%- include ("../_header.ejs") %>
<div class="continer">
    <div class="row mt-5">
        <div class="col-md-2"></div>
           <div class="col-md-8">
            <h1><center>สาขา</center></h1>
            <p align='right'><a href="/branch/add" class="btn btn-success">สร้างสาขา</a> <br>
            <table class="table table-bordered table-hover">
                <thead align="center">
                    <tr class="table-active">
                        <th>ลำดับ</th>
                        <th>ชื่อสาขา</th>
                        <th>ตัวเลือก</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <% if(data){ %>
                        <%  for(var i=0;i<data.length;i++){ %>
                            <tr>
                                <td> <%= (i+1) %> </td>
                                <td> <%= data[i].branchName %> </td>
                                <td>
                                  <a href="/branch/edit/<%= data[i].idbranch%>" class="btn btn-outline-secondary"> แก้ไข </a>
                                  <a href="/branch/del/<%= data[i].idbranch%>" class="btn btn-outline-danger"> ลบ </a> </td>
                            </tr>
                        <%  } %>
                   <%  } %>
                       </tbody>
                   </table>
                </div>
            </div>
        </div>
     <style >
       body {
       background-image: url("A3.jpg");
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: 100% 100%;
       }
     </style>
<%- include ("../_footer.ejs") %>
