<%-include ('../_header')%>

<section>
  <div class="container-fluid">
    <h1 class="text-center">ประวัติ การทำประกันภัย</h1>
    <div class="text-right mb-2">
      <a class="btn btn-outline-dark" href="/cardetail/<%=url.caid%>">กลับ</a>
    </div>
    <table class="table table-bordered table-hover" id="insuranceList">
      <thead>
        <tr class="text-center text-light bg-dark">
          <th width="50px">ลำดับ</th>
          <th width="15%">ประเภทประกันภัย</th>
          <th width="15%">ระยะเวลาเริ่ม</th>
          <th width="15%">ระยะเวลาสิ้นสุด</th>
          <th width="15%">เบี้ยประกันสุทธิ</th>
          <th width="15%">บริษัททำประกัน</th>
          <th width="15%">ตัวแทน</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <%if (insurance) {%>
          <%for (var i = 0; i < insurance.length; i++) {%>
            <tr>
              <td class="text-center"><%=i+1%></td>
              <td><%=insurance[i].insurance_name%></td>
              <td class="text-center"><%=insurance[i].date_begin%></td>
              <td class="text-center"><%=insurance[i].date_end%></td>
              <td class="text-right"><%=insurance[i].price.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%></td>
              <td><%=insurance[i].businessinsu%></td>
              <td><%=insurance[i].agent%></td>
              <td class="text-center">
                <a class="btn btn-outline-info" href="#">แก้ไข</a>
                <a class="btn btn-outline-danger" href="#">ลบ</a>
              </td>
            </tr>
          <%}%>
        <%}%>
      </tbody>
    </table>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    $('#insuranceList').DataTable();
} );
</script>

<%-include ('../_footer')%>
