
<div class="modal fade" id="insuranceEdit" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <form class="form-group" action="#/" method="post" name="insurancedit">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">ประกันภัย</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="text-center text-light bg-dark">
                <th width="50px">ลำดับ</th>
                <th width="15%">ประเภทประกันภัย</th>
                <th width="15%">ระยะเวลาเริ่ม</th>
                <th width="15%">ระยะเวลาสิ้นสุด</th>
                <th width="15%">เบี้ยประกันสุทธิ</th>
                <th width="15%">บริษัททำประกัน</th>
                <th width="15%">ตัวแทน</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center"></td>
                <td>
                  <select class="form-control" name="insurance_type" required>
                    <option value=""></option>
                    <%if (insurance_type) {%>
                      <%for (var i = 0; i < insurance_type.length; i++) {%>
                        <option value="<%=insurance_type[i].id%>"><%=insurance_type[i].name%></option>
                      <%}%>
                    <%}%>
                  </select>
                </td>
                <td><input class="form-control" type="date" name="date_begin" value=""></td>
                <td><input class="form-control" type="date" name="date_end" value=""></td>
                <td><input class="form-control text-right" type="text" name="price" value=""></td>
                <td>
                  <select class="form-control" name="businessinsu_id" required>
                    <option value=""></option>
                    <%if (businessinsu) {%>
                      <%for (var i = 0; i < businessinsu.length; i++) {%>
                        <option value="<%=businessinsu[i].id%>"><%=businessinsu[i].name%></option>
                      <%}%>
                    <%}%>
                  </select>
                </td>
                <td><input class="form-control" type="text" name="agent" value=""></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
          <button type="submit" class="btn btn-outline-success">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">

function insuranceEditModal(trid){
  document.insurancedit.action = '/insurance/update/'+trid.split('_')[1]+'/'+trid.split('_')[2];

  $('#insuranceEdit tbody tr td:eq(0)').text($('#'+trid+' td:eq(0)').text());
  $('#insuranceEdit tbody tr td:eq(1) option:contains('+$('#'+trid+' td:eq(1)').text()+')').prop('selected',true);
  console.log($('#'+trid+' td:eq(3)').text());
  $('#insuranceEdit tbody tr td:eq(2) input').val($('#'+trid+' td:eq(2)').text());
  $('#insuranceEdit tbody tr td:eq(3) input').val($('#'+trid+' td:eq(3)').text());
  $('#insuranceEdit tbody tr td:eq(4) input').val(+$('#'+trid+' td:eq(4)').text().replace(/,/g, ''));
  $('#insuranceEdit tbody tr td:eq(5) option:contains('+$('#'+trid+' td:eq(5)').text()+')').prop('selected',true);
  $('#insuranceEdit tbody tr td:eq(6) input').val($('#'+trid+' td:eq(6)').text());
}

</script>
