<div class="modal fade" id="insuranceDelete" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">ประกันภัย</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="text-center text-light bg-dark">
                <th width="50px">ลำดับ</th>
                <th width="15%">ประเภทประกันภัย</th>
                <th width="15%">ระยะเวลาเริ่ม</th>
                <th width="15%">ระยะเวลาสิ้นสุด</th>
                <th width="15%">เบี้ยประกันสุทธิ</th>
                <th width="15%">บริษัททำประกัน</th>
                <th width="15%">ตัวแทน</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center"></td>
                <td></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-right"></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
          <a class="btn btn-outline-danger" href="#/">ยืนยัน</a>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">

function insuranceDeleteModal(trid){
  $('#insuranceDelete .modal-footer a').attr('href','/insurance/delete/'+trid.split('_')[1]+'/'+trid.split('_')[2])

  console.log($('#'+trid));
  $('#insuranceDelete tbody tr td:eq(0)').text($('#'+trid+' td:eq(0)').text());
  $('#insuranceDelete tbody tr td:eq(1)').text($('#'+trid+' td:eq(1)').text());
  $('#insuranceDelete tbody tr td:eq(2)').text($('#'+trid+' td:eq(2)').text());
  $('#insuranceDelete tbody tr td:eq(3)').text($('#'+trid+' td:eq(3)').text());
  $('#insuranceDelete tbody tr td:eq(4)').text($('#'+trid+' td:eq(4)').text());
  $('#insuranceDelete tbody tr td:eq(5)').text($('#'+trid+' td:eq(5)').text());
  $('#insuranceDelete tbody tr td:eq(6)').text($('#'+trid+' td:eq(6)').text());
}

</script>
