<%-include ('../_header')%>

<section>
  <div class="container-fluid">
    <h1 class="text-center">ประวัติ การทำประกันภัย</h1>
    <div class="text-right mb-2">
      <a class="btn btn-outline-dark" href="/insurance/list/<%=url.caid%>">กลับ</a>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-center text-light bg-dark">
          <th width="50px">ลำดับ</th>
          <th width="15%">ประเภทประกันภัย</th>
          <th width="15%">ระยะเวลาเริ่ม</th>
          <th width="15%">ระยะเวลาสิ้นสุด</th>
          <th width="15%">เบี้ยประกันสุทธิ</th>
          <th width="15%">บริษัททำประกัน</th>
          <th width="15%">ตัวแทน</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <%if (insurance) {%>
          <form class="from-group" action="/insurance/page/update/<%=url.caid%>/<%=insurance[0].id%>" method="post">
            <tr>
              <td class="text-center">1</td>
              <td>
                <select class="form-control" name="insurance_type" required>
                  <option value=""></option>
                  <%if (insurance_type) {%>
                    <%for (var i = 0; i < insurance_type.length; i++) {%>
                      <option value="<%=insurance_type[i].id%>"<%if(insurance[0].insurance_type == insurance_type[i].id){%>selected<%}%>><%=insurance_type[i].name%></option>
                    <%}%>
                  <%}%>
                </select>
              </td>
              <td class="text-center"><input type="text" name="date_begin" value="<%=insurance[0].date_begin.toISOString().split('T')[0]%>"></td>
              <td class="text-center"><input type="text" name="date_end" value="<%=insurance[0].date_end.toISOString().split('T')[0]%>"></td>
              <td class="text-right"><input type="text" name="price" value="<%=insurance[0].price%>"></td>
              <td>
                <select class="form-control" name="businessinsu_id" required>
                  <option value=""></option>
                  <%if (businessinsu) {%>
                    <%for (var i = 0; i < businessinsu.length; i++) {%>
                      <option value="<%=businessinsu[i].id%>"<%if(insurance[0].businessinsu_id == businessinsu[i].id){%>selected<%}%>><%=businessinsu[i].name%></option>
                    <%}%>
                  <%}%>
                </select>
              </td>
              <td><input type="text" name="agent" value="<%=insurance[0].agent%>"></td>
              <td class="text-center">
                <a class="btn btn-outline-info" href="#">แก้ไข</a>
                <a class="btn btn-outline-danger" href="#">ลบ</a>
              </td>
            </tr>
          </form>
        <%}%>
      </tbody>
    </table>
  </div>
</section>

<%-include ('../_footer')%>
