<%- include ("../_header.ejs") %>

<section>
  <div class="container-fluid">
    <h1 class="text-center">รายละเอียดรถ</h1>
    <div class="text-right">
      <a class="btn btn-outline-dark" href="/car">กลับ</a>
    </div>
    <h3 class="text-primary">ข้อมูลดรถ</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <div class="input-group">
            <div class="col-md-5">
              <b>ประเถทรถ</b>
            </div>
            <div class="col-md-7">
              <input class="form-control" type="text" name="" value="<%=car[0].namecar%>" disabled>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="col-md-5">
              <b>ทะเบียนรถ</b>
            </div>
            <div class="col-md-7">
              <input class="form-control" type="text" name="" value="<%=car[0].carnumber%>" disabled>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="col-md-5">
              <b>ผู้ถือกรรมสิทธิ์</b>
            </div>
            <div class="col-md-7">
              <input class="form-control" type="text" name="" value="<%=car[0].ownership%>" disabled>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="col-md-5">
              <b>วันที่ครอบครองรถ</b>
            </div>
            <div class="col-md-7">
              <input class="form-control" type="text" name="" value="<%=car[0].date_car%>" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="input-group">
            <div class="col-md-5">
              <b>ชื่อในกิจการ</b>
            </div>
            <div class="col-md-7">
              <input class="form-control" type="text" name="" value="<%=car[0].n_inbusiness%>" disabled>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="col-md-5">
              <b>เลขตัวถัง</b>
            </div>
            <div class="col-md-7">
              <input class="form-control" type="text" name="" value="<%=car[0].bodynumber%>" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <%if (car[0].photo) {%>
          <img src="/car/<%=car[0].photo%>" alt="" style="width: 100%;">
        <%}else {%>
          <img src="/imgnull.jpg" alt="" style="width: 100%;">
        <%}%>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-9">
        <h3 class="text-primary">ประวัติการเสียภาษี</h3>
      </div>
      <div class="col-md-3">
        <div class="text-right">
          <a class="btn btn-primary" href="/tax/list/<%=car[0].id%>">ประวัติทั้งหมด</a>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-center bg-dark text-light">
          <th width="50px">ลำดับ</th>
          <th>วันที่เสียภาษี</th>
          <th>วันครบกำหนดเสียภาษี</th>
          <th>ค่าภาษี(บาท)</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <%if (true) {%>
          <form class="form-group" action="/tax/save" method="post">
            <tr class="bg-warning">
              <td class="text-center">0</td>
              <td><input class="form-control" type="date" name="date" value="<%=new Date().toISOString().split('T')[0]%>"></td>
              <td><input class="form-control" type="date" name="datetax" value="<%=new Date().toISOString().split('T')[0]%>"></td>
              <td><input class="form-control text-right" type="number" name="price" value=""></td>
              <td class="text-center">
                <input type="hidden" name="car_id" value="<%=car[0].id%>">
                <button class="btn btn-success" type="submit">บันทึก</button>
              </td>
            </tr>
          </form>
        <%}%>
        <%for (var i = 0; i < tax.length; i++) {%>
          <tr id="taxtr_<%=car[0].id+'_'+tax[i].id%>">
            <td class="text-center"><%=i+1%></td>
            <td class="text-center"><%=tax[i].date%></td>
            <td class="text-center"><%=tax[i].datetax%></td>
            <td class="text-right"><%=tax[i].price.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%></td>
            <td class="text-center">
              <a class="btn btn-outline-info" href="#/" data-toggle="modal" data-target="#taxEdit" onclick="taxEditModal('taxtr_<%=car[0].id+'_'+tax[i].id%>')">แก้ไข</a>
              <a class="btn btn-outline-danger" href="#/" data-toggle="modal" data-target="#taxDelete" onclick="taxDeleteModal('taxtr_<%=car[0].id+'_'+tax[i].id%>')">ลบ</a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <%-include ('../tax/taxPopUpdate')%>
    <%-include ('../tax/taxPopDelete')%>

    <hr>
    <div class="row">
      <div class="col-md-9">
        <h3 class="text-primary">ประวัติประกันภัย</h3>
      </div>
      <div class="col-md-3">
        <div class="text-right">
          <a class="btn btn-primary" href="/insurance/list/<%=car[0].id%>">ประวัติทั้งหมด</a>
        </div>
      </div>
    </div>

    <table  class="table table-bordered table-hover">
      <thead>
        <tr class="text-center bg-dark text-light">
          <th width="50px">ลำดับ</th>
          <th width=" 12%">ประเภทประกันภัย </th>
          <th width=" 12%">ระยะเวลาเริ่ม</th>
          <th width=" 12%">ระยะเวลาสิ้นสุด</th>
          <th width=" 12%">เบี้ยประกันสุทธิ์</th>
          <th width=" 12%">บริษัทประกันภัย</th>
          <th width=" 12%">ตัวแทน</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <%if (true) {%>
          <form class="form-group" action="/insurance/save" method="post">
            <tr class="bg-warning">
              <td class="text-center">0</td>
              <td>
                <select class="form-control" name="insurance_type" required>
                  <option></option>
                  <%if (insurance_type) {%>
                    <%for (var i = 0; i < insurance_type.length; i++) {%>
                      <option value="<%=insurance_type[i].id%>"><%=insurance_type[i].name%></option>
                    <%}%>
                  <%}%>
                </select>
              </td>
              <td><input class="form-control" type="date" name="date_begin" value="<%=new Date().toISOString().split('T')[0]%>"></td>
              <td><input class="form-control" type="date" name="date_end" value="<%=new Date().toISOString().split('T')[0]%>"></td>
              <td><input class="form-control text-right" type="number" name="price" value=""></td>
              <td>
                <select class="form-control" name="businessinsu_id" required>
                  <option value=""></option>
                  <%if (businessinsu) {%>
                    <%for (var i = 0; i < businessinsu.length; i++) {%>
                      <option value="<%=businessinsu[i].id%>"><%=businessinsu[i].name%></option>
                    <%}%>
                  <%}%>
                </select>
              </td>
              <td><input class="form-control" type="text" name="agent" value=""></td>
              <td class="text-center">
                <input type="hidden" name="car_id" value="<%=car[0].id%>">
                <button class="btn btn-success" type="submit">บันทึก</button>
              </td>
            </tr>
          </form>
        <%}%>
        <%for (var i=0; i < insurance.length; i++) {%>
          <tr id="insurancetr_<%=car[0].id+'_'+insurance[i].id%>">
            <td class="text-center"><%=i+1%></td>
            <td><%=insurance[i].insurance_name%></td>
            <td class="text-center"><%=insurance[i].date_begin%></td>
            <td class="text-center"><%=insurance[i].date_end%></td>
            <td class="text-right"><%=insurance[i].price.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%></td>
            <td><%=insurance[i].businessinsu%></td>
            <td><%=insurance[i].agent%></td>
            <td class="text-center">
              <a class="btn btn-outline-info" href="#/" data-toggle="modal" data-target="#insuranceEdit" onclick="insuranceEditModal('insurancetr_<%=car[0].id+'_'+insurance[i].id%>')">แก้ไข</a>
              <a class="btn btn-outline-danger" href="#/" data-toggle="modal" data-target="#insuranceDelete" onclick="insuranceDeleteModal('insurancetr_<%=car[0].id+'_'+insurance[i].id%>')">ลบ</a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <%-include ('../insurance/insurancePopUpdate')%>
    <%-include ('../insurance/insurancePopDelete')%>

    <hr>

    <div class="row">
      <div class="col-md-9">
        <h3 class="text-primary">ประวัติ พรบ.</h3>
      </div>
      <div class="col-md-3">
        <div class="text-right">
          <a class="btn btn-primary" href="/act/list/<%=car[0].id%>">ประวัติทั้งหมด</a>
        </div>
      </div>
    </div>

    <table  class="table table-bordered table-hover">
      <thead>
        <tr class="text-center bg-dark text-light">
          <th width="50px">ลำดับ</th>
          <th width="15%">ชื่อผู้เอาประกันภัย </th>
          <th width="15%">ระยะเวลาเริ่ม</th>
          <th width="15%">ระยะเวลาสิ้นสุด</th>
          <th width="15%">เบี้ยประกันภัย</th>
          <th width="15%">บริษัท พรบ.</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <%if (true) {%>
          <form class="form-group" action="/act/save" method="post">
            <tr class="bg-warning">
              <td class="text-center">0</td>
              <td><input class="form-control" type="text" name="buyers_act" value=""></td>
              <td><input class="form-control" type="date" name="start_date" value="<%=new Date().toISOString().split('T')[0]%>"></td>
              <td><input class="form-control" type="date" name="exp_date" value="<%=new Date().toISOString().split('T')[0]%>"></td>
              <td><input class="form-control text-right" type="number" name="premium" value=""></td>
              <td>
                <select class="form-control" name="act_company_id" required>
                  <option value=""></option>
                  <%if (act_company) {%>
                    <%for (var i = 0; i < act_company.length; i++) {%>
                      <option value="<%=act_company[i].id%>"><%=act_company[i].name%></option>
                    <%}%>
                  <%}%>
                </select>
              </td>
              <td class="text-center">
                <input type="hidden" name="car_id" value="<%=car[0].id%>">
                <button class="btn btn-success" type="submit">บันทึก</button>
              </td>
            </tr>
          </form>
        <%}%>
        <%for (var i = 0; i < act.length; i++) {%>
          <tr id="acttr_<%=car[0].id+'_'+act[i].id%>">
            <td class="text-center"><%=i+1%></td>
            <td><%=act[i].buyers_act%></td>
            <td class="text-center"><%=act[i].start_date%></td>
            <td class="text-center"><%=act[i].exp_date%></td>
            <td class="text-right"><%=act[i].premium.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%></td>
            <td><%=act[i].act_company%></td>
            <td class="text-center">
              <a class="btn btn-outline-info" href="#/" data-toggle="modal" data-target="#actEdit" onclick="actEditModal('acttr_<%=car[0].id+'_'+act[i].id%>')">แก้ไข</a>
              <a class="btn btn-outline-danger" href="#/" data-toggle="modal" data-target="#actDelete" onclick="actDeleteModal('acttr_<%=car[0].id+'_'+act[i].id%>')">ลบ</a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <%-include ('../act/actPopUpdate')%>
    <%-include ('../act/actPopDelete')%>

  </div>
</section>

<%- include ("../_footer.ejs") %>
