<%- include ("../_header.ejs") %>

<section>
  <div class="container-fluid">
    <h1 class="text-center">ข้อมูลรถ</h1>
    <div class="text-right">
      <a class="btn btn-outline-dark mb-2" href="/car">กลับ</a>
    </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-5">
                <b>ประเถทรถ</b>
              </div>
              <div class="col-md-7">
                <select class="form-control" name="type_car">
                  <option value=""></option>
                  <%if (typecar) {%>
                    <%for (var i = 0; i < typecar.length; i++) {%>
                      <option value="<%=typecar[i].idtypecar%>" <%if(car[0].type_car == typecar[i].idtypecar){%>selected<%}%>><%=typecar[i].namecar%></option>
                    <%}%>
                  <%}%>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-5">
                <b>ทะเบียนรถ</b>
              </div>
              <div class="col-md-7">
                <input class="form-control" type="text" name="carnumber" value="<%=car[0].carnumber%>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-5">
                <b>ผู้ถือกรรมสิทธิ์</b>
              </div>
              <div class="col-md-7">
                <input class="form-control" type="text" name="ownership" value="<%=car[0].ownership%>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-5">
                <b>วันที่ครอบครองรถ</b>
              </div>
              <div class="col-md-7">
                <input class="form-control" type="date" name="datecar" value="<%=car[0].datecar.toISOString().split('T')[0]%>">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-5">
                <b>ชื่อในกิจการ</b>
              </div>
              <div class="col-md-7">
                <input class="form-control" type="text" name="n_inbusiness" value="<%=car[0].n_inbusiness%>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-5">
                <b>เลขตัวถัง</b>
              </div>
              <div class="col-md-7">
                <input class="form-control" type="text" name="bodynumber" value="<%=car[0].bodynumber%>">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <%if(car[0].photo){%>
            <img src="/car/<%=car[0].photo%>" alt="" style="width: 100%;">
          <%}else{%>
            <img src="/imgnull.jpg" alt="" style="width: 100%;">
          <%}%>
        </div>
      </div>
      <div class="text-right">
        <a class="btn btn-outline-danger" href="/car/delete/<%=car[0].id%>">ยืนยัน</a>
      </div>
  </div>
</section>

    <%- include ("../_footer.ejs") %>
