<%- include ("../_header.ejs") %>

<section>
  <div class="container-fluid">
    <h1 class="text-center">รายการรถ</h1>
    <div class="text-right">
      <a class="btn btn-outline-success mb-2" href="/car/add">เพิ่ม</a>
    </div>
    <table class="table table-bordered table-hover" id="carList">
        <thead>
            <tr class="text-center text-light bg-dark">
                <th width="50px">ลำดับ</th>
                <th width="15%">ประเภท</th>
                <th width="15%">ทะเบียน</th>
                <th width="20%">ชื่อในกิจการ</th>
                <th width="15%">วันครบกำหนดเสียภาษี</th>
                <th width="15%">รูปภาพ</th>
                <th width="15%">จัดการ</th>
            </tr>
        </thead>
        <tbody>
            <%for (var i = 0; i < car.length; i++) {%>
                <tr onclick="window.location='/cardetail/<%=car[i].id%>'">
                    <td class="text-center"><%=i+1%></td>
                    <td><%=car[i].namecar%></td>
                    <td><%=car[i].carnumber%></td>
                    <td><%=car[i].n_inbusiness%></td>
                    <td class="text-center"><%=car[i].datetax%></td>
                    <td>
                      <a href="/car/<%=car[i].photo%>">
                        <img src="/car/<%=car[i].photo%>" alt="" style="height: 50px;">
                      </a>
                    </td>
                    <td class="text-center">
                      <a class="btn btn-outline-info" href="/car/edit/<%=car[i].id%>">แก้ไข</a>
                      <a class="btn btn-outline-danger" href="/car/confirmdelete/<%=car[i].id%>">ลบ</a>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
    $('#carList').DataTable();
} );
</script>


<%- include ("../_footer.ejs") %>
