<%- include ("../_header.ejs") %>

<section>
  <div class="container-fluid">
    <h1 class="text-center">ข้อมูลรถ</h1>
    <div class="text-right">
      <a class="btn btn-outline-dark mb-2" href="/car">กลับ</a>
    </div>
    <form class="form-group" action="/car/update/<%=car[0].id%>" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-5">
                <b>ประเถทรถ</b>
              </div>
              <div class="col-md-7">
                <select class="form-control" name="type_car">
                  <option value=""></option>
                  <%if (typecar) {%>
                    <%for (var i = 0; i < typecar.length; i++) {%>
                      <option value="<%=typecar[i].idtypecar%>" <%if(car[0].type_car == typecar[i].idtypecar){%>selected<%}%>><%=typecar[i].namecar%></option>
                    <%}%>
                  <%}%>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-5">
                <b>ทะเบียนรถ</b>
              </div>
              <div class="col-md-7">
                <input class="form-control" type="text" name="carnumber" value="<%=car[0].carnumber%>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-5">
                <b>ผู้ถือกรรมสิทธิ์</b>
              </div>
              <div class="col-md-7">
                <input class="form-control" type="text" name="ownership" value="<%=car[0].ownership%>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-5">
                <b>วันที่ครอบครองรถ</b>
              </div>
              <div class="col-md-7">
                <input class="form-control" type="date" name="datecar" value="<%=car[0].datecar.toISOString().split('T')[0]%>">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-5">
                <b>ชื่อในกิจการ</b>
              </div>
              <div class="col-md-7">
                <input class="form-control" type="text" name="n_inbusiness" value="<%=car[0].n_inbusiness%>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="col-md-5">
                <b>เลขตัวถัง</b>
              </div>
              <div class="col-md-7">
                <input class="form-control" type="text" name="bodynumber" value="<%=car[0].bodynumber%>">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div id="upPicture">
            <%if(car[0].photo){%>
              <img src="/car/<%=car[0].photo%>" alt="" style="width: 100%;">
            <%}else{%>
              <img src="/imgnull.jpg" alt="" style="width: 100%;">
            <%}%>
            <span><%=car[0].photo%></span>
            <input type="file" name="photo" value="<%=car[0].photo%>" accept="image/jpeg,image/x-png" id="imgInp">
            <div class="text-center">
              <a class="text-danger trash-pic" href="#/"><i class="fa fa-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right">
        <button class="btn btn-outline-success" type="submit">บันทึก</button>
      </div>
    </form>
  </div>
</section>

<script >
  if ($('#upPicture img').attr('src') == '/imgnull.jpg') {
    $('#imgInp').attr('type','file');
    $('#upPicture a').hide();
  }else {
    $('#imgInp').attr('type','text');
    $('#imgInp').hide();
    $('#upPicture a').show();
  }

function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#upPicture img').attr('src', e.target.result);
      $('#upPicture span').text(input.files[0].name);
    }
    reader.readAsDataURL(input.files[0]); // convert to base64 string
  }
}

$("#imgInp").change(function () {
  $('#imgInp').hide();
  $('#upPicture a').show();
  readURL(this);
});

$(".trash-pic").on('click', function () {
  // blankPic();
  $('#upPicture img').attr('src','/imgnull.jpg');
  $('#upPicture input').show();
  $('#upPicture input').attr('type', 'file');
  $('#upPicture span').text('');
  $('#upPicture a').hide();
  $('#imgInp').val('');
});
</script>

<%- include ("../_footer.ejs") %>
