<%-include ('../_header')%>

<section>
  <div class="container-fluid">
    <h1 class="text-center">ประวัติ การเสียภาษี</h1>
    <div class="text-right mb-2">
      <a class="btn btn-outline-dark" href="/tax/list/<%=url.caid%>">กลับ</a>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-center">
          <th class="text-center" width="50px">ลำดับ</th>
          <th>วันที่เสียภาษี</th>
          <th>วันครบกำหนดเสียภาษี</th>
          <th>ค่าภาษี(บาท)</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <%if (tax) {%>
          <%for (var i = 0; i < tax.length; i++) {%>
            <tr>
              <td class="text-center"><%=i+1%></td>
              <td class="text-center"><%=tax[i].date%></td>
              <td class="text-center"><%=tax[i].datetax%></td>
              <td class="text-right"><%=tax[i].price.toFixed().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%></td>
              <td class="text-center">
                <a class="btn btn-outline-danger" href="/tax/page/delete/<%=tax[i].car_id%>/<%=tax[i].id%>">ยืนยัน</a>
              </td>
            </tr>
          <%}%>
        <%}%>
      </tbody>
    </table>
  </div>
</section>

<%-include ('../_footer')%>
