
<div class="modal fade" id="taxEdit" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <form class="form-group" action="#/" method="post" name="taxedit">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">การเสียภาษี</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="text-center text-light bg-dark">
                <th width="50px">ลำดับ</th>
                <th>วันที่เสียภาษี</th>
                <th>วันครบกำหนดเสียภาษี</th>
                <th>ค่าภาษี(บาท)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center"></td>
                <td><input class="form-control" type="text" name="date" value=""></td>
                <td><input class="form-control" type="text" name="datetax" value=""></td>
                <td><input class="form-control text-right" type="text" name="price" value=""></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
          <button type="submit" class="btn btn-outline-success">บันทึก</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">

function taxEditModal(trid){
  document.taxedit.action = '/tax/update/'+trid.split('_')[1]+'/'+trid.split('_')[2];

  console.log($('#'+trid));
  $('#taxEdit tbody tr td:eq(0)').text($('#'+trid+' td:eq(0)').text());
  $('#taxEdit tbody tr td:eq(1) input').val($('#'+trid+' td:eq(1)').text());
  $('#taxEdit tbody tr td:eq(2) input').val($('#'+trid+' td:eq(2)').text());
  $('#taxEdit tbody tr td:eq(3) input').val(+$('#'+trid+' td:eq(3)').text().replace(/,/g, ''));
}

</script>
