<%-include ('../_header')%>

<section>
  <div class="container-fluid">
    <h1 class="text-center">ประวัติ การเสียภาษี</h1>
    <div class="text-right mb-2">
      <a class="btn btn-outline-dark" href="/tax/list/<%=url.caid%>">กลับ</a>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-center">
          <th class="text-center" width="50px">ลำดับ</th>
          <th>วันที่เสียภาษี</th>
          <th>วันครบกำหนดเสียภาษี</th>
          <th>ค่าภาษี(บาท)</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <%if (tax) {%>
          <form class="form-group" action="/tax/page/update/<%=url.caid%>/<%=tax[0].id%>" method="post">
            <tr>
              <td class="text-center">1</td>
              <td class="text-center"><input class="form-control" type="date" name="date" value="<%=tax[0].date.toISOString().split('T')[0]%>"></td>
              <td class="text-center"><input class="form-control" type="date" name="datetax" value="<%=tax[0].datetax.toISOString().split('T')[0]%>"></td>
              <td class="text-right"><input class="form-control text-right" type="number" name="price" value="<%=tax[0].price%>"></td>
              <td class="text-center">
                <button class="btn btn-outline-success" type="submit">บันทึก</button>
              </td>
            </tr>
          </form>
        <%}%>
      </tbody>
    </table>
  </div>
</section>

<%-include ('../_footer')%>
