<%- include ("../_header.ejs") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/billing/update/<%= data.idBilling %>" method="POST">
                        <h3 align="center" > แก้ไขข้อมูลบิล </h3>
                        <div class="form-group mt-3"><h5> ชื่อบิล </h5>
                        <input type="text"name="BillingName"value="<%= data.BillingName %>"
                        class="form-control">
                        </div>
                        <a href="/billing" class="btn btn-primary"> กลับ </a>
                        <button type="submit"class="btn btn-success">ยืนยัน</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
<%- include ("../_footer.ejs") %>
