<%- include ("../_header.ejs") %>

<div class="continer">
    <div class="row mt-4">
        <div class="col-md-1"></div>
           <div class="col-md-10">
              <table align="right">
                <thead>
                  <td>
              <a href="/home" class="btn btn-" style="background-color:#9FAEB6; color:#000000;"> กลับ </a>
              </td>
                </thead>
              </table>
              <br><br>
            <table class="table table-bordered table-hover">
                <thead align="center">
                    <tr style="background-color:#53A9E7; color:#000000;" >
                        <th>ลำดับ</th>
                        <th>ชื่อเอกสาร</th>
                        <th>รายละเอียด</th>
                        <th>วันสิ้นอายุ</th>
                        <th>ประเภทเอกสาร</th>
                        <th>สาขา</th>
                        <th>ตัวเลือก</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <% if(data){ %>
                        <%  for(var i=0;i<data.length;i++){ %>
                            <tr style="color:#000000">
                                <td> <%= (i+1) %> </td>
                                <td> <%= data[i].dcmname %> </td>
                                <td> <%= data[i].cdmdetial %> </td>
                                <td> <%= data[i].ddd %> </td>
                                <td> <%= data[i].tdmname %> </td>
                                <td> <%= data[i].bname %> </td>
                                <td>
                                  <a href="/document/del/<%= data[i].iddocument%>" class="btn btn-outline-info"> <i class="fa fa-file" aria-hidden="true"></i> </a>
                                  <a href="/dochistory/dochistoryAdd/<%= data[i].iddocument%>" class="btn btn-outline-success"> <i class="fa fa-check" aria-hidden="true"></i> </a>
                                 </td>
                            </tr>
                        <%  } %>
                   <%  } %>
                       </tbody>
                   </table>
                </div>
            </div>
        </div>
     <style >
       body {
       background-image: url("A4.jpg");
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: 100% 100%;
       }
     </style>
<%- include ("../_footer.ejs") %>
