<%- include ("../_header.ejs") %>
<div class="container mt-5">

    <div class="row">
        <div class="col-md-7">
           <h3 align="center" > ข้อมูลเอกสาร </h3><br>
          <div class="card" >

              <div class="card-body" align="center">
          <table>
           <tbody ><br>


            <tr>
            <td><font size="4"> เลขที่เอกสาร: </td>
            <td><font size="4" >  </td>
            <td><font size="4"></font> <div class="b"><h4><%= data.dcmnumb %></h4></div></td>
            </tr><tr>
            <td><font size="4"> ชื่อเอกสาร: </td>
            <td><font size="4" >  </td>
            <td><font size="4"></font> <div class="b"><h4><%= data.dcmnam %></h4></div></td>
            </tr><tr>
            <td><font size="4"> วันออกเอกสาร: </td>
            <td><font size="4" >  </td>
            <td><font size="4"></font> <div class="b"><h4><%= data.bbb %></h4></div></td>
            </tr><tr>
            <td><font size="4"> วันสิ้นอาย: </td>
            <td><font size="4" >  </td>
            <td><font size="4"></font> <div class="b"><h4><%= data.ddd %></h4></div></td>
            </tr><tr>
            <td><font size="4"> สถานที่ติดต่อ: </td>
            <td><font size="4" >  </td>
            <td><font size="4"></font> <div class="b"><h4><%= data.dcmban %></h4></div></td>
            </tr>
            <tr>
            <td><font size="4"> บุคคลที่ติดต่อ: </td>
            <td><font size="4" >  </td>
            <td><font size="4"></font> <div class="b"><h4><%= data.dcmwho %></h4></div></td>
            </tr>
            <tr>
            <td><font size="4"> เบอร์โทรติดต่อ: </td>
            <td><font size="4" >  </td>
            <td><font size="4"></font> <div class="b"><h4><%= data.dcmber %></h4></div></td>
            </tr>
            <tr>
            <td><font size="4"> รายละเอียดเอกสาร: </td>
            <td><font size="4" >  </td>
            <td><font size="4"></font> <div class="b"><h4><%= data.cdmdetial %></h4></div></td>
            </tr>
            <% if(data.dcmbann != null) {%>
            <tr>
            <td><font size="4"> ยี่ห้อรถ: </td>
            <td><font size="4" >  </td>
            <td><font size="5"></font> <div class="b"><h4><%= data.dcmbann %></h4></div></td>
            </tr>
            <tr>
            <td><font size="4"> ป้ายทะเบียนรถ: </td>
            <td><font size="4" >  </td>
            <td><font size="5"></font> <div class="b"><h4><%= data.dcmCarnumber %></h4></div></td>
            </tr>
            <tr>
            <td><font size="4"> ประเภทรถ: </td>
            <td><font size="4" >  </td>
            <td><font size="5"></font> <div class="b"><h4><%= data.tpcn %></h4></div></td>
            </tr>
            <%}%>

           </tbody>
          </table><br><br>
          <div align="center">
            <a href="/documenthistory" class="btn btn-primary"> กลับ </a>
              <a href="/document/deletehistory/<%=data.iddoc%>" class="btn btn-danger"> ลบ </a>
          </div>
    </div>
</div><br>
</div>

<div class="col-md-4" >
  <h3 align="center" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     รูปภาพ </h3>
  <div class="container">
    <input type="checkbox" id="zoomCheck">
    <label for="zoomCheck">
      <img src="/<%= data.dcmscan %>" width="400" height="500">
    </label>
  </div>
</div>
</div><br>


</div>
<style >

  input[type=checkbox] {
  display: none;
}
.container img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}
input[type=checkbox]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}
div.b {
    /* Safari */
   text-decoration-line: underline;
}


</style>
<%- include ("../_footer.ejs") %>
