<%- include ("../_header.ejs") %>
<style >
  input[type=checkbox] {
  display: none;
}
.container img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}
input[type=checkbox]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}

</style>
<div class="container-calendar">

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6">
      <form class="" action="/document/updatepoto/<%=data.iddocument%>" enctype="multipart/form-data" method="post">
        <div class="container">
          <div><h1 align="center">รูปภาพ</h1>
            <%  if (data.documentScan == null ){ %>
              <img src="/imgnull.jpg  %>" width="400" height="500">
            <%  }else { %>
              <input type="checkbox" id="zoomCheck">
              <label for="zoomCheck">
                <img src="/<%= data.documentScan  %>" width="400" height="500">
              </label>
            <%  } %>
          </div>
        </div>
        <div class="">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Photo :
          <input type="file" name="filename" accept="image/*" >
        </div><br>
           <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        กดที่นี่ : <button  type="submit" class="btn btn-success">แก้ไขภาพ</button>
          </div>
      </form>
  </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">

                        <form action="/document/update/<%=data.iddocument%>" method="POST">
                        <h3 align="center" > แก้ไขข้อมูลเอกสาร </h3>
                        <div class="form-group mt-3"><h5> เลขที่เอกสาร <font color=#FF0000>*</font></h5>
                        <input type="text" name="documentNumber"value="<%= data.documentNumber %>"class="form-control" required>
                        </div>
                        <div class="form-group mt-3"><h5> ชื่อเอกสาร <font color=#FF0000>*</font></h5>
                        <input type="text" name="documentName"value="<%= data.documentName %>"class="form-control" required>
                        </div>
                        <div class="form-group mt-3"><h5> วันที่ต่ออายุ <font color=#FF0000>*</font></h5>
                        <input type="date" name="documentRenewaldate" value="<%= dRdate.dRdate1 %>"class="form-control" required>
                        </div>
                        <div class="form-group mt-3"><h5> วันที่สิ้นอายุ <font color=#FF0000>*</font></h5>
                        <input type="date" name="documentExpirationdate" value="<%= dRdate.dRdate2 %>"class="form-control" required>
                        </div>
                        <div class="form-group mt-3"><h5> สถานที่ติดต่อ <font color=#FF0000>*</font></h5>
                        <input type="text" name="documentContactagency"value="<%= data.documentContactagency %>"class="form-control" required>
                        </div>
                        <div class="form-group mt-3"><h5> รายละเอียด <font color=#FF0000>*</font></h5>
                        <input type="text" name="detial"value="<%= data.detial %>"class="form-control" required>
                        </div>
                      <%  if (data.documentContactperson == 0 ){%>
                          <div class="form-group mt-3"><h5> บุคคลที่ติดต่อ </h5>
                          <input type="text" name="documentContactperson"value="ไม่ได้ระบุ"class="form-control" >
                          </div>
                      <%  } else { %>
                        <div class="form-group mt-3"><h5> บุคคลที่ติดต่อ </h5>
                        <input type="text" name="documentContactperson"value="<%= data.documentContactperson %>"class="form-control" >
                        </div>
                    <%  } %>
                       <%  if (data.documentContactnumber == 0 ){%>
                        <div class="form-group mt-3"><h5> เบอร์โทรติดต่อ </h5>
                        <input type="text" name="documentContactnumber"value="ไม่ได้ระบุ"class="form-control">
                        </div>
                        <%  } else { %>
                          <div class="form-group mt-3"><h5> เบอร์โทรติดต่อ </h5>
                          <input type="text" name="documentContactnumber"value="<%= data.documentContactnumber %>"class="form-control">
                          </div>
                          <%  } %>
                        <% if(data.Carbrand != null) {%>
                          <div class="form-group mt-3"><h5> ยี่ห้อรถ <font color=#FF0000>*</font></h5>
                          <input type="text" name="Carbrand"value="<%= data.Carbrand %>"class="form-control" required>
                          </div>
                          <div class="form-group mt-3"><h5> ทะเบียนรถ <font color=#FF0000>*</font></h5>
                          <input type="text" name="Carnumber"value="<%= data.Carnumber %>"class="form-control" required>
                          </div>
                          <div class="form-group">
                              <a style="font-size:20px">ประเภทรถ<font color=#FF0000>*</font></a>
                              <select class='form-control' name='typecar' required>
                                  <option value=""> กรุณาเลือกประเภทรถ </option>
                                  <% if(data4) { %>
                                  <% for(var i=0; i<data4.length; i++){ %>
                                      <option value="<%= data4[i].idtypecar %>" <% if(data4[i].idtypecar==data.typecar){ %>  selected
                                          <% }%>>
                                          <%= data4[i].namecar %>
                                      </option>
                                  <%}%>
                                  <%}%>
                              </select>
                          </div>

                        <%}%>
                        <div class="form-group">
                            <a style="font-size:20px">ประเภทเอกสาร<font color=#FF0000>*</font></a>
                            <select class='form-control' name='typedocument_id' required>
                                <option value=""> กรุณาเลือกชนิดเอกสาร </option>
                                <% if(data1) { %>
                                <% for(var i=0; i<data1.length; i++){ %>
                                    <option value="<%= data1[i].idtypedocument %>" <% if(data1[i].idtypedocument==data.typedocument_id){ %>  selected
                                        <% }%>>
                                        <%= data1[i].typedocumentName %>
                                    </option>
                                <%}%>
                                <%}%>
                            </select>
                        </div>
                        <div class="form-group">
                            <a style="font-size:20px">ประเภทรอบบิล</a>
                            <select class='form-control' name='billing_id'>
                                <option value=""> กรุณาเลือกประเภทรอบบิล </option>
                                <% if(data2) { %>
                                <% for(var i=0; i<data2.length; i++){ %>
                                    <option value="<%= data2[i].idBilling %>" <% if(data2[i].idBilling==data.billing_id){ %>  selected
                                        <% }%>>
                                        <%= data2[i].BillingName %>
                                    </option>
                                <%}%>
                                <%}%>
                            </select>
                        </div>
                      <%  if (data.unitmy != null) { %>
                          <div class="form-group mt-3"><h5> จำนวน<%=data.BillingName%> </h5>
                          <input type="int" name="unitmy"value="<%= data.unitmy %>"class="form-control">
                          </div>
                      <%  } else { %>
                          <div class="form-group mt-3"><h5> จำนวน</h5>
                          <input type="int" name="unitmy" value="ไม่ได้ระบุจำนวนประจำรอบ" class="form-control">
                          </div>
                      <%  } %>
                        <div class="form-group">
                            <a style="font-size:20px">สาขา</a>
                            <select class='form-control' name='branch_id'>
                                <option value=""> กรุณาเลือกสาขา </option>
                                <% if(data3) { %>
                                <% for(var i=0; i<data3.length; i++){ %>
                                    <option value="<%= data3[i].idbranch %>" <% if(data3[i].idbranch==data.branch_id){ %>  selected
                                        <% }%>>
                                        <%= data3[i].branchName %>
                                    </option>
                                <%}%>
                                <%}%>
                            </select>
                        </div>

                        <a href="/home" class="btn btn-primary"> กลับ </a>
                        <button type="submit"class="btn btn-success">ยืนยัน</button>
                        </form>
                      </div>
                      </div>
                      </div>


            </div>
    </div>
<%- include ("../_footer.ejs") %>
