<%- include ("../_header.ejs") %>
<div class="container mt-4">
  <div class="row">
      <div class="col-md-1"></div>
         <div class="col-md-10">
            <div class="card">
              <div class="card-body">
                  <h2 align="center">เพิ่มเอกสาร</h2>


                        <form action="/document/save/" enctype="multipart/form-data" method="POST">

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="ss1">
                        เลขที่เอกสาร <font color="red">*</font><input type="text" name="documentNumber" placeholder="Name"class="form-control" required>
                        </div>
                        <div class="ss2" id="a234">
                        ชื่อเอกสาร <font color="red">*</font><input type="text" name="documentName" placeholder="Name"class="form-control" required>
                        </div><br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="ss4" id="a2346">
                        วันที่ต่ออายุ <font color="red">*</font><input type="date" name="documentRenewaldate" placeholder="Name"class="form-control" required>
                        </div>&nbsp;&nbsp;&nbsp;
                        <div class="ss4" id="a2345">
                        วันที่สิ้นอายุ <font color="red">*</font><input type="date" name="documentExpirationdate" placeholder="Name"class="form-control" required>
                        </div><br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="ss3">
                        บุคคลที่ติดต่อ <input type="text" name="documentContactperson" placeholder="Name"class="form-control">
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="ss5" >
                        เบอร์โทรติดต่อ <input type="text" name="documentContactnumber" placeholder="Name"class="form-control">
                        </div>
                        <br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="ss6" >
                        สถานที่ติดต่อ
                        <font color="red">*</font><textarea type="text" name="documentContactagency" class="ss6" id="exampleTextarea" rows="5" required></textarea >
                        </div>
                        <br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="ss6" >
                        รายละเอียดเอกสาร
                        <font color="red">*</font><textarea type="text" name="detial" class="ss6" id="exampleTextarea" rows="5" required></textarea>
                        </div>
                        <br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="ss7">
                            <a style="font-size:20px" required>ประเภทเอกสาร<font color=#FF0000 >*</font></a>
                            <select class='form-control' name='typedocument_id' required>
                                <option value="" > กรุณาเลือกประเภทเอกสาร </option>
                                <% if(data1) { %>
                                <% for(var i=0; i<data1.length; i++){ %>
                                <option value="<%= data1[i].idtypedocument %>">
                                <%= data1[i].typedocumentName %>
                                </option>
                                <%}%>
                                <%}%>
                            </select>
                        </div>&nbsp;&nbsp;
                        <div class="ss7">
                            <a style="font-size:20px">ประจำรอบ</a>
                            <select class='form-control' name='billing_id'>
                                <option value=""> เลือกประจำรอบ </option>
                                <% if(data3) { %>
                                <% for(var i=0; i<data3.length; i++){ %>
                                <option value="<%= data3[i].idBilling %>">
                                <%= data3[i].BillingName %>
                                </option>
                                <%}%>
                                <%}%>
                            </select>
                        </div>&nbsp;&nbsp;

                        <div class="ss10">
                        จำนวน <input type="number" name="unitmy" placeholder="เดือน/ปี"class="form-control">
                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <div class="ss7">
                            <a style="font-size:20px">สาขา</a>
                            <select class='form-control' name='branch_id'>
                                <option value=""> เลือกสาขา </option>
                                <% if(data2) { %>
                                <% for(var i=0; i<data2.length; i++){ %>
                                <option value="<%= data2[i].idbranch %>">
                                <%= data2[i].branchName %>
                                </option>
                                <%}%>
                                <%}%>
                            </select>
                        </div>

                        <!-- <a href="/typedocument" id="left" >กดเพื่อเพิ่มประเภทเอกสาร</a> -->
                        <br><br>
                        <div class="">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Photo :
                          <input type="file" name="filename" accept="image/*" >
                        </div>
                        <div align="center" >
                        <a href="/home" class="btn btn-primary"> กลับ </a>
                        <button type="submit" class="btn btn-success">ยืนยัน</button>
                        </div>
                       </form>

                  </div>
                  </div>
                  </div>
                  </div>
                  </div>

        <style >
          body {
          background-image: url("A3.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
          }
          #left{
            position: relative;
            LEFT: 5%
          }
          #a234{
            position: relative;
              left: 4%;
          }
          #a2345{
            position: relative;
              left: 8%;
          }
          #a23456{
            position: relative;
              left: 4%;
          }
          .ss1 {
        display: inline-block;
        width: 23.5%;
        }
        .ss2 {
      display: inline-block;
      width: 60%;
      }
        .ss4 {
      display: inline-block;
      width: 39%;
      }
      .ss3 {
    display: inline-block;
    width: 55%;
    }
    .ss5 {
  display: inline-block;
  width: 30%;
   }
  .ss6 {
  display: inline-block;
  width: 94%;
  }
  .ss7 {
  display: inline-block;
  width: 24%;
  }
  .ss10 {
display: inline-block;
width: 11%;
}
        </style>
<%- include ("../_footer.ejs") %>
