<%- include ("../_header.ejs") %>
<div class="container mt-5">
    <div class="row" >
      <div class="col-md-8" >
        <h3 align="center" >
         รูปภาพ </h3>
        <div>
          <%  if (data.dcmscan == null ){ %>
            <img src="/imgnull.jpg  %>" width="400" height="500">
          <%  }else { %>
            <input type="checkbox" id="zoomCheck">
            <label for="zoomCheck">
              <img src="/<%= data.dcmscan  %>" width="400" height="500">
            </label>
          <%  } %>
        </div>
        </div>
        <div class="col-md-4" >
           <h3 align="center" > ข้อมูลเอกสาร </h3><br><br>
             <div class="card" >
               <div class="card-body" >
                <table>
                 <tbody >
               <tr>
                 <td> <font size="4"> เลขที่เอกสาร </td>
                 <td> <font size="4" style="color:#4F6ED8"> <%=data.dcmnumb%> </td>
               </tr>
               <tr>
                 <td> <font size="4"> ชื่อเอกสาร </td>
                 <td> <font size="4"  style="color:#4F6ED8"> <%=data.dcmnam%> </td>
               </tr>
               <tr>
                 <td> <font size="4"> วันออกเอกสาร </td>
                 <td> <font size="4"  style="color:#4F6ED8"> <%=data.bbb%> </td>
               </tr>
               <tr>
                 <td> <font size="4"> วันสิ้นอายุ </td>
                 <td> <font size="4"  style="color:#4F6ED8"> <%=data.ddd%> </td>
               </tr>
               <tr>
                 <td> <font size="4"> สถานที่ติดต่อ </td>
                 <td> <font size="4"  style="color:#4F6ED8"> <%=data.dcmban%> </td>
               </tr>
              <% if (data.dcmwho == 0) {%>
                 <tr>
                   <td> <font size="4"> บุคคลติดต่อ </td>
                   <td> <font size="4"  style="color:#4F6ED8"> ไม่ได้ระบุบุคคลติดต่อ </td>
                 </tr>
              <% }else {%>
                 <tr>
                   <td> <font size="4"> บุคคลติดต่อ </td>
                   <td> <font size="4"  style="color:#4F6ED8"> <%=data.dcmwho%> </td>
                 </tr>
              <% }%>

               <% if (data.dcmber == 0) { %>
                 <tr>
                   <td> <font size="4"> เบอร์ติดต่อ </td>
                   <td> <font size="4"  style="color:#4F6ED8"> ไม่ได้ระบุเบอร์ติดต่อ </td>
                 </tr>
              <% }else { %>
                <tr>
                  <td> <font size="4"> เบอร์ติดต่อ </td>
                  <td> <font size="4"  style="color:#4F6ED8"> <%=data.dcmber%> </td>
                </tr>
              <% } %>

               <tr>
                 <td> <font size="4"> รายละเอียด </td>
                 <td> <font size="4"  style="color:#4F6ED8"> <%=data.cdmdetial%> </td>
               </tr>
               <% if(data.dcmbann != null) {%>
               <tr>
                 <td> <font size="4"> ยี่ห้อรถ </td>
                 <td> <font size="4"  style="color:#4F6ED8"> <%=data.dcmbann%> </td>
               </tr>
               <tr>
                 <td> <font size="4"> ป้ายทะเบียนรถ </td>
                 <td> <font size="4"  style="color:#4F6ED8"> <%=data.dcmCarnumber%> </td>
               </tr>
               <tr>
                 <td> <font size="4"> ประเภทรถ </td>
                 <td> <font size="4"  style="color:#4F6ED8"> <%=data.tpcn%> </td>
               </tr>
               <%}%>

            <%   if (data.billid == 2) { %>
                 <tr>
                   <td> <font size="4"> ประจำรอบ </td>
                   <td> <font size="4"  style="color:#4F6ED8"> <%=data.billname%> <%=data.dcmunit%> เดือน</td>
                 </tr>
            <%   }else if (data.billid == 3){ %>
              <tr>
                <td> <font size="4"> ประจำรอบ </td>
                <td> <font size="4"  style="color:#4F6ED8"> <%=data.billname%> <%=data.dcmunit%> ปี</td>
              </tr>
            <%   }else if(data.billid == 1){ %>
              <tr>
                <td> <font size="4"> ประจำรอบ </td>
                <td> <font size="4"  style="color:#4F6ED8"> <%=data.billname%> <%=data.dcmunit%> วัน</td>
              </tr>
          <%  }else if(data.billid == null) { %>
              <tr>
                <td> <font size="4"> ประจำรอบ </td>
                <td> <font size="4"  style="color:#4F6ED8"> <%=data.billname%> ไม่กำหนดประจำรอบ</td>
              </tr>
        <%  }  %>
        <%  if (data.brhname == null) { %>
            <tr>
              <td> <font size="4"> สาขา </td>
              <td> <font size="4"  style="color:#4F6ED8"> ไม่ได้ระบุสาขา </td>
            </tr>
        <%  }else { %>
            <tr>
              <td> <font size="4"> สาขา </td>
              <td> <font size="4"  style="color:#4F6ED8"> <%=data.brhname%> </td>
            </tr>
        <%  } %>
        <tr>
          <td> <font size="4"> ประเภทเอกสาร </td>
          <td> <font size="4"  style="color:#4F6ED8"> <%=data.tdmname%> </td>
        </tr>
               <br>
           </tbody>
          </table><br>
          <tr> เพิ่มเอกสารเมื่อ : <%=data.hwtsm%> </tr><br><br>
          <div align="center">
          <a href="/home" class="btn btn-primary"> กลับ </a>
          <a href="/document/edit/<%= data.iddoc%>" class="btn btn-warning"> แก้ไข </a>
          <a href="/document/delete/<%=data.iddoc%>" class="btn btn-danger"> ลบ </a>
          </div>
    </div>
</div><br>
</div>

 </div><br>
</div>

<style >
  input[type=checkbox] {
  display: none;
}
.container img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}
input[type=checkbox]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}
</style>
<%- include ("../_footer.ejs") %>
