<%- include ("../_header.ejs") %>
<div class="continer">
    <div class="row mt-5">
        <div class="col-md-1"></div>
           <div class="col-md-10">
            <h1><center>เอกสาร</center></h1>
            <table class="table table-bordered table-hover">
                <thead align="center">
                    <tr style="background-color:#F4F027; color:#000000;">
                        <th>ลำดับ</th>
                        <th>ชื่อเอกสาร</th>
                        <th>วันสิ้นอายุ</th>
                        <th>บุคลที่ติดต่อ(เบอร์โทร)</th>
                        <th>ประเภทเอกสาร</th>
                        <th>สาขา</th>
                        <th>สถานะ</th>
                        <th>ตัวเลือก</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <% if(data){ %>
                        <%  for(var i=0;i<data.length;i++){ %>
                            <tr style="color:#000000;">
                                <td> <%= (i+1) %> </td>
                                <td> <%= data[i].dcmname %> </td>
                                <td> <%= data[i].ddd %> </td>
                                <td> <%= data[i].dcmcc %> (<%= data[i].dcmaaa %>) </td>
                                <td> <%= data[i].tdmname %> </td>
                                <td> <%= data[i].bname %> </td>
                                <td> ดําเนินการแล้ว </td>
                                <td>
                                  <a href="/document/delhistory/<%= data[i].iddocument%>" class="btn btn-warning"> ลบ </a>
                            </tr>
                        <%  } %>
                   <%  } %>
                       </tbody>
                   </table>
                </div>
            </div>
        </div>
     <style >
       body {
       background-image: url("A4.jpg");
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: 100% 100%;
       }
     </style>
<%- include ("../_footer.ejs") %>
